/* Design Navbar in mobile  */
.hamburger {
  position: relative;
  z-index: 999;
  direction: rtl;
  height: 14px;
  cursor: pointer;
}
.hamburger:hover {
  cursor: pointer;
}
.hamburger div {
  background-color: rgb(255, 255, 255);
  border-radius: 1px;
  height: 2px;
  width: 22.42px;
}
.hamburger .div1{
  width: 25.11px;
}
.hamburger .div2 {
  width: 18.63px;
}
.hamburger .div3{
  width: 12.55px;
}
.hamburger div:not(:last-child) {
  margin-bottom: 6px;
}
.nav-mobile {
  background-color:#ffffff;
  display: inline-block;
  position: fixed;
  height: 100vh;
  width:310px;
  left: -310px;
  transition: transform 0.3s;
  z-index: 9999;
  top: 0;
  font-family: 'Inter';
  overflow-y: scroll;
  padding: 32px 24px 32px 24px;
  border: 3px solid #913276;
}
.nav-mobile::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(232, 232, 232, 0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
.nav-mobile::-webkit-scrollbar
{
  width: 3px;
	background-color: #F5F5F5;
}
.nav-mobile::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(235, 235, 235, 0.3);
	background-color: #472667 ;
}
.nav-mobile .logo {
  margin: 0 0 5vh 0;
  text-align: center;
  width: 80%;
}
.nav-mobile .logo img {
  border-radius: 50%;
  width: 100%;
}
  .nav-mobile .links .fx-links{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
.nav-mobile .links .border{
  height: 0.5px;
  width: 100%;
  background-color: #913276 ;
}
.nav-mobile .links a {
  text-decoration: none;
  color: #3b082c;
  font-size: 1.1rem;
  font-weight: 500;
}
.nav-mobile a:hover ,
.nav-mobile a span:hover {
  	color: #472667 ;
}
.nav-mobile .links a.active{
    font-weight: bold;
}
.nav-mobile .links a svg{
  width: 24px;
}
.nav-mobile .links .btn-list img{
transform: rotate(90deg);
}
.nav-mobile .links .list-link{
  padding: 10px;
  flex-direction: column;
  gap: 8px;
  display: none;
}
.nav-mobile .links .list-link a{
  display: flex;
  gap: 8px;
  padding: 8px 0 ;
  color: #000;
  font-size: 0.9rem;
  border-bottom: 1px solid #8e8e8e;
}
.nav-mobile .links .list-link a:last-child{border-bottom: none;padding-bottom: 0;}
.nav-mobile .links .list-link a.active{background-color: #3b082c;color: #fff;padding:8px 10px;border-radius: 4px;}
.nav-mobile .links .list-link a.active img{
  filter: brightness(0) invert(1);
}
.nav-mobile .btn-list.active a{font-weight: bold ;}
.nav-mobile button:hover{transform: scale(1);}
.sidenav-active .navbar-mobile{display: block;}
.sidenav-active .close-nav{ 
  display: block;
  background: none;
  margin-top: 26px;
  margin-left: 10px;
}
.sidenav-active .coverNav {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 5000;
  transition: background-color 0.3s, transform 0.3s;
  display: block;
}
nav, .hamburger, .coverNav {
  transition: transform 0.3s;
  display: none;
}
.sidenav-active nav, .sidenav-active .coverNav {
  transform: translateX(310px);
}
.navbar-mobile{
  display: none;
  position: relative;
  z-index: 1000;
  position: absolute;
  width: 100%;

}
.navbar-mobile .flex-head{
  padding: 25px 19px 15px 6px;
   box-shadow: 0px 12px 74px 0px rgba(0, 0, 0, 0.05);
   width: 100%;
   display: flex;
}
.navbar-mobile .flex-head img{width: 150px;object-fit: contain;}
.sidenav-active .navbar-mobile .flex-head{display: none;}
.navbar-mobile-pages .hamburger div{background: #000;}
/* Header */
header{
  position: absolute;
  width: 100%;
  padding:1rem 38px 0 0.7rem;
  z-index: 9;
}
header .fx-header{
  gap: 90px;
  width: 100%;
}
header .fx-header .logo-header{
  width: 21%;
}
header .fx-header .logo-header img{width: 100%;}
header .fx-header .links{
  gap: 80px;
  justify-content: space-between;
  width: 79%;
  z-index: 1;
}
header .fx-header .links .links-part{
  gap: 25px;
  display: flex;
}
header .fx-header .links .links-part .box-link{position: relative;}
header .fx-header .links .links-part a{
  color: #FFF;
  font-size: 17px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.3s;
 }
 header .fx-header .links .links-part a:hover{transform: scale(0.9);}
 header .fx-header .links .links-part .box-link a:hover{transform: scale(1);}
header .fx-header .links .links-part .list{
  display: none;
  position: absolute;
  border-radius: 10px;
  background: #FFF;
  flex-direction: column;
  gap: 10px;
  padding: 17px 7px;
  left: 50%;
  top: 25px;
  transform: translate(-50%,0);
  width: max-content;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
header .fx-header .links .links-part .list a{
  font-size: 17px;
  padding: 10px 4px;
  border-bottom: 0.5px solid rgba(71, 38, 103, 0.5);
color: #090B21;
}
header .fx-header .links .links-part .list a:hover{
  background: #ebebeb;
}
header .fx-header .links .links-part .list.active{
  display: flex;
}
@media (max-width:1400px) {
  header .fx-header .links .links-part a{
    gap: 5px;
    font-size: 16px;
  }
}
@media (max-width:1300px) {
    header .fx-header .links .links-part{gap: 16px;}
    header .fx-header .links .links-part a{font-size: 14px;}
    header .fx-header {gap: 70px;}
    header{padding: 1rem 28px 0 0.7rem;}
}
@media (max-width:1150px) {
  header .fx-header .links{gap: 33px;width: 80%;}
  header .fx-header .logo-header{width: 20%;}
  header .fx-header .links .links-part a{font-size: 13px;}
  header .fx-header .links .links-part{gap: 15px;}
  header .fx-header{gap: 60px;}
}
@media (max-width:1000px) {
  header .fx-header .links .links-part1{display: none;}
  header .fx-header .links{justify-content: end;}
  header {padding: .8rem 18px 0 0.7rem;}
  header .fx-header .links .links-part a{font-size: 13px;}
  header .fx-header .links .links-part2 a img{width: 15px;}
  .hamburger{display: block;}
}
@media (max-width:850px) {
  header{padding: .5rem 18px 0 0.7rem;}
}
@media (max-width:750px) {
  header{padding: .2rem 18px 0 0.7rem;}
}
@media (max-width:700px) {
   header{display: none;}
   .navbar-mobile{display: block;}
   .sidenav-active .navbar-mobile .flex-head{display: flex;}
}
@media (min-width:1700px) {
  header .fx-header .links .links-part a{font-size: 21px;}
  header{padding: 1.4rem 38px 0 0.7rem;}
}
@media (min-width:1710px) {
  header .fx-header .links .links-part a{font-size: 24px;}
}
@media (min-width:2000px) {
  header .fx-header .links .links-part a{font-size: 26px;}
}
@media (min-width:2100px) {

}
@media (max-width:1400px){

}
@media (max-width:1300px){

}
@media (max-width:1150px){

}
@media (max-width:1000px){

}